.home{
	margin-top: 5vh;
	text-align: left;
	margin-left: 3.5vw;
	font-family:  yale,TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
}
.bck2home{
	color: #286dc0;
	text-decoration: none !important;
}
.heading{
	text-align: left;
	margin-left: 3.5vw;
	font-family:  yale,TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
	font-size: 6vh;
	font-weight: 500;
	margin-top: 5vh;
}
.grid{
	display: grid;
	grid-template-columns: auto auto;
}
.div1 {
	padding-top: 1vw;
	flex: 0 0 33.3333%;
    margin: 0 0 20px 0;
    width: 2vw;
}
.div2 {
	margin-left: 4vw;
	margin-top: 5vw;
    width: 17vw;
}
#center:hover {
	box-shadow: 0 2px 10px 7px #dddfe2;
    text-decoration: none;
}
#center {
	border-radius: 4px;
    box-shadow: 0 1px 5px 3px #dddfe2;
    display: block;
    transition: all .2s ease-out;
    color: #365899;
    cursor: pointer;
    text-decoration: none;
}
#image {
	align-items: center;
    background-color: #f5f6f7;
    background-image: url(../img/nagabhushan_0.jpg);
    background-size: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    height: 18vw;
    justify-content: center;
    width: 17vw;
    color: #365899;
    cursor: pointer;
    text-decoration: none
}
.post {
	background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 12px 0;
    padding-top: 12px;
    padding-right: 0px;
    padding-bottom: 12px;
    padding-left: 0px;
    text-align: left;
    padding-left: 0.5vw;
    text-decoration: none;
    width: 12vw;
    white-space: normal;
    font-size: 1vw;
    line-height: 1.2vw;
}
.msg{
	padding-top: 1vw;
	margin-top: 3.5vw;
	margin-left: 15vw;
	height: 17vw;
	width: 75vw;
    
}
p{
	font-family:  yale,TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
	padding-left: 1vw;
	padding-right: 1vw;
	font-size: 1.2vw;
	line-height: 120%;
	letter-spacing: 0.4px;
}
.first_letter{
	font-size: 200%;
	font-weight: 600;
}
.quotation1{
  font-size: 1.2vw;
  quotes: "\201C""\201D""\2018""\2019";
  line-height: 1.4;
}

.quotation1:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -0.5vw;
  position: relative;
  top: 0.5vw;
  color: #ccc;
  font-size: 5em;
}
.quotation2{
  font-size: 1.2vw;
  quotes: "\201C""\201D""\2018""\2019";
  line-height: 1.4;
}
.quotation2::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 0.8vw;
  position: relative;
  top: 2.3vw;
  color: #ccc;
  font-size: 5em;
}
@media only screen and (max-width: 1000px){
	.home{
		margin-top: 5vh;
		text-align: left;
		margin-left: 3.5vw;
		font-family:  yale,TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
		font-size: 1.8vw;
	}
	.div2 {
		margin-left: 4vw;
		margin-top: 5vw;
	    width: 24vw;
	}
	#image {
	    height: 26vw;
	    width: 24vw;
	}
	.post {
	    width: 14vw;
	    font-size: 1.2vw;
	    line-height: 1.5vw;
	}
	.msg{
		margin-top: 2.5vw;
		margin-left: 25vw;
		height: 22vw;
		width: 74vw;
	}
	p{
		font-size: 1.8vw;
		line-height: 1.8vw;
	}
	.quotation1{
	  font-size: 1.35vw;
	  line-height: 1.5;
	}
	.quotation2{
	  font-size: 1.35vw;
	  line-height: 1.5;
	}
	.quotation1:before {
	  left: -0.3vw;
	}
	.quotation2::after {
	  top: 3vw;
	}
}
@media only screen and (max-width: 550px){
	.grid{
		display: grid;
		grid-template-columns: auto;
	}
	.div1{
		align-items: center;
		margin-left: 30%;
	}
	.div2 {
	    width: 25vw;
	}
	#image {
	    height: 25vw;
	    width: 25vw;
	    color: #365899;
	}
	.post {
	    width: 20vw;
	    font-size: 1.5vw;
	    line-height: 1.7vw;
	}
	.msg{
		padding-top: 1vw;
		margin-top: -5vw;
		margin-left: 5vw;
		height: 50vw;
		width: 90%;
	}
	p{
		font-size: 2.5vw;
		line-height: 2.6vw;
	}
	.quotation1{
	  font-size: 2vw;
	  line-height: 1.7;
	}
	.quotation2{
	  font-size: 2vw;
	  line-height: 1.7;
	}
	.quotation1:before {
	  left: -1vw;
	  top: 1vw;
	}
	.quotation2::after {
	  left: 0.5vw;
	  top: 3vw;
	}
}